name: QA
on:
  pull_request_target:
    branches:
      - "main"
  push:
    branches:
      - "main"
    tags:
      - 'v*'
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pre-commit
            ~/.cache/pip
          key: ${{runner.os}}-pre-commit
      - name: Install pre-commit
        run: pip install --progress-bar=off --upgrade pre-commit
      - name: Run pre-commit
        run: pre-commit run --all-files
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        odoo: [14, 15, 16]
    steps:
      - uses: actions/checkout@v3
      - name: Build container
        run: ODOO_VERSION=${{ matrix.odoo }} docker compose -f .docker/chrome-compose.yaml build
      - name: Pull supporting containers
        run: docker compose -f .docker/chrome-compose.yaml pull db
      - name: Run embedded Selenium tests
        run: ODOO_VERSION=${{ matrix.odoo }} docker compose -f .docker/chrome-compose.yaml up --abort-on-container-exit --force-recreate
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pip
          key: ${{runner.os}}-pip
      - name: Build package
        run: |
          pip install --progress-bar=off --upgrade tox twine
          tox -e build -v
      - name: Publish package
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        run: |
          ls -lah dist/*
          python -m twine upload --verbose -u __token__ -p ${{ secrets.PYPI_API_TOKEN }} --repository-url https://upload.pypi.org/legacy/ dist/*
